<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/index.css">
    <title>Homepage</title>
</head>

<body>
    <div class="main-container">
        <div class="padding"></div>
        <div class="content-container">
            <h1>JRR</h1>
            <h2>Jabu Remote Repository</h2>
            <div class="searchbar-container">
                <input type="text" placeholder="Search..." id="searchbar" />
                <button onclick="redirectToSearch();" id="search-button">Search</button>
                <p>Artifacts stored: {{ artifact_count }}</p>
            </div>
        </div>
        <div class="padding"></div>
    </div>

    <footer>
        <div class="section">
            <a href="/about.html">About</a>
        </div>
        <div class="section">
            <a href="/faqs.html">FAQs</a>
        </div>
        <div class="section">
            <a href="/wiki.html">Wiki</a>
        </div>
    </footer>

        <div class="rose-container">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

    <script src="/static/scripts/index.js"></script>
</body>

</html>
