<!DOCTYPE html>
<html>

    <head>
        <link rel="icon" href="./resources/image_2024-05-11_171505634.ico">
        <link rel="stylesheet" href="/static/styles.css">
        <title>Jabu Remote Repository</title>
    </head>

    <body>
        <div class="homepage-main-container">
            <h1>JRR</h1>
            <h2>Jabu Remote Repository</h2>
            <input type="text" placeholder="Search..."/>
            <button>Search</button>
        </div>
        <p>Current artifacts: {{ artifact_count }}</p>

        <div id="footer">
            <div class="Aboutus">
                <a href="./about.html">
                    <h6>About</h6>
                </a>
            </div>

            <div class="FAQ">
                <a href="./FAQS.html">
                    <h6>FAQS</h6>
                </a>
            </div>

            <div class="WIKI">
                <a href>
                    <h6>Wiki</h6>
                </a>
            </div>
        </div>
    </body>

</html>
