<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/search.css">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <div class="padding"></div>
        <div class="search-results-container">
            <div class="search-header">
                <input type="text" placeholder="Search..." id="searchbar"/>
                <button onclick="redirectToSearch();">Search</button>
            </div>

            <hr/>

            <div class="search-results">
                
                {% if results.is_empty() %}
                    <p>No results for {{ search_term }}</p>
                {% else %}
                    <p>Results {{ results.len() }}
                {% endif %}

                {% for result in results %}
                    <div class="search-result">
                        <h3><a onclick="goToArtifact('{{result.artifact_id}}', '{{result.author}}')">{{ result.artifact_id }}</a></h3>
                        <h4>By {{ result.author }}</h4>
                        <!-- TODO: This should be the latest version, not a random version -->
                        <p>{{ result.description }}<br>Latest version uploaded: {{ result.latest_version }}</p>
                    </div>
                {% endfor %}
            </div>

        </div>
        <div class="padding"></div>
    </div>
    <footer>
        <div class="section">
            <a href="/static/pages/about.html">About</a>
        </div>
        <div class="section">
            <a href="/static/pages/faqs.html">FAQs</a>
        </div>
        <div class="section">
            <a href="/static/pages/wiki.html">Wiki</a>
        </div>
        <div class="section" style="margin-left: auto;">
            <a href="/index.html">Home</a>
        </div>
    </footer>
    <div class="rose-container rose-container-top-right">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
<div class="square">
<div class="square black">
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

    <script src="/static/scripts/search.js"></script>
</body>
</html>
