(
    header: (
        project_name: "playground",
        author: "anon",
        description: "A Java project.",
        version: "0.0.1",
    ),
    java_config: (
        java_version: 17,
        source: 17,
        target: 17,
    ),
    fs_schema: (
        source: "./src/main",
        target: "./target",
        resources: "./src/resources",
        scripts: "./scripts",
        test: "./src/test",
        other: [],
    ),
    properties: {},
)